:host {
  display: block;
  min-height: 100vh;
  background-image: url('/bathroom_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.btn.custom-btn-home  {
  background-color: #598cd8;     
  padding: 8px 16px;          /* 10px top/bottom, 20px left/right */
  border-radius: 8px;          /* Rounds the corners */
  font-weight: 500;            /* Makes text semi-bold */
  color: white;               
}

.btn.custom-btn-home:hover {
  cursor: pointer;                    /* Changes mouse to hand icon */
  background-color: #b4deee;         /* Light blue background on hover */
  transform: translateY(-2px);         /* Moves button 2px upward */
  transition: all 0.2s ease;           /* Smooth animation effect */
}

.bathroom-content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  
}